{% extends 'layout.html' %}
{% block body %}
	<div class="maincontent2">
		<div class="divform">
			<h1>Login</h1>
			<hr>
			<form action="login" method="post">
				{% csrf_token %}
				{% for message in messages %}
				<p style="color: red;">{{ message }}</p>
				{% endfor %}
				<input class="signup_input" type="text" name="username" placeholder="Create a username"><br>
				<input class="signup_input" type="password" name="password" placeholder="Enter your password"><br>
				<input class="submitform" type="submit" value="Login">
			</form>
			<div class="forget">
				<p>Don't Have an account? <a href="{% url 'signup' %}">Signup Here</a></p>
			</div>
		</div>
	</div>
{% endblock %}